:root{
    --mainColor: #606856;
    --secondaryColor: #515a48;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --borderColor: #161914;
    --themeDotBorder: #fff;
    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #292f25;
    --bttnColor: #1b634de1;
}